# Build artifacts
obj_dir*/
*.o
*.elf
*.bin
#Docs
CLAUDE.md

# Simulation outputs
*.vcd
*.fst
*.log

# Vivado
hardware/vivado/reports/*.rpt
*.bit
*.ltx
*.xpr
*.jou
.Xil/

# Python
__pycache__/
*.pyc
.venv/
*.egg-info/

# Model checkpoints and data (large files)
model/vfi/checkpoints/*.pth
model/vfi/checkpoints/*.onnx
model/vfi/checkpoints/*.engine
model/vfi/calibration/*.png
model/vfi/calibration/*.jpg
model/upscale/checkpoints/*.pth
model/upscale/checkpoints/*.onnx
model/upscale/checkpoints/*.engine

# Notebooks
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db

# Editor
*.swp
*.swo
*~
.vscode/
.idea/
resume.pdf
program.hex
